.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 1;
  width: 100%;
  margin: -10px;
}

.logo {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.desktop-menu {
  display: none;
}

.mobile-menu {
  display: flex;
}

@media (min-width: 768px) {
  .desktop-menu {
    display: flex;
  }
  .mobile-menu {
    display: none;
  }
}
